<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">how my history shapes me </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995-2013</h4>
                                    <h4 class="subheading">Youth me</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Born, raised at Surabaya, Indonesia.
                                      <ul dir='rtl'; class="bullet-invert">
                                        <li>
                                          Elementary School: Widya Merti
                                          </li>
                                        <li>
                                          Junior & Senior Highschool: Petra 1
                                          </li>
                                        </ul> </p> </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">Engineer's Mind, Leader's heart</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Industrial Engineering, <a href="http://www.petra.ac.id/">Petra Christian University</a>, Surabaya, Indonesia.
                                      <ul>
                                      <li> Awarded as an <b>Active & Cum Laude</b> student </li>
                                      <li><b>President</b> of Industrial Engineering Student Board (2015-2016)</li>
                                      <li>Life and Spiritual <b>Mentor</b> for new student (2014-2017)</li>
                                      <li>Laboratory and Research assistant in a vast array of field</li>                              </li>
                                            </ul>
                                          </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">International and Independent world-view</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 臺灣科技大學 <a href="https://www.ntust.edu.tw/home.php?Lang=En">Taiwan Tech</a>, Taipei, Taiwan
                                      <ul dir='rtl'; class="bullet-invert">
                                        <li>
                                          Industrial Management Master Student
                                        </li>
                                        <li>
                                          <a href="http://sims.im.ntust.edu.tw/">System Information & Management Science</a> SIMSLab <br> Research assistant
                                          </li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-Now</h4>
                                    <h4 class="subheading">Start off with future-proof start-up</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <a href="https://www.lndata.com/">LnData</a> 麟數據
                                      <ul>
                                        <li>Data & Algorithm Engineer</li>
                                      </ul>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>I'll
                                    <br>Put You
                                    <br>Here!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
